@brand-primary:                            #00503c;
@brand-background:                         #bfd3ce;

#home {
  img {
    width: 100%;
    position: fixed;
    margin-top: -50px;
  }
}

body { 
  height: 100%;
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: @brand-background;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    margin-bottom: 10px;
    height: 0;
    overflow: hidden;
}
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-controls {
  .play-pause-button {
    display: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: @brand-primary;
  }
  hr {
    margin: 20px 0 10px 0;
    border-top-width: 1px;
    border-top-color: #ddd;
  }

  .speed-buttons {
    display: none;
    width: 100%;
    margin-bottom: 10px;
    color: white;
  }
}
